# ignore eclipse project files
.project
.classpath
# ignore Intellij Idea project files
.idea
*.iml
/target/

/bin/
build
.settings/
/.gradle/
/gradle/
/gradlew
/gradlew.bat
.gitmodules

#project
/src/main/java/org/json/*.class
/src/main/java/M2Test.class
/src/main/java/json-java.jar
